<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.tao.mapper.TzgCustomerShopMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  tzg_customer_shop
		WHERE
			 customer_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.tao.entity.TzgCustomerShop">
		SELECT * 
		FROM  tzg_customer_shop
		WHERE
			 customer_id = #{id} 		
	</select>
</mapper>
